.formContainer {
    background-color: #2f2f2f; /* Cor grafite */

    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    width: 100%;
    max-width: 500px;
    margin: 0 auto; /* Centraliza a caixa no centro da página */
    color: #fff; /* Cor do texto */
}

.formContainer label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.formContainer input, 
.formContainer textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #fff; /* Cor do fundo dos campos */
    color: #000; /* Cor do texto dos campos */
}

.formContainer button {
    padding: 10px 20px;
    background-color: #3a3a3a; /* Cor do botão */
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.formContainer button:hover {
    background-color: #001f3f; /* Azul marinho no hover */
}
