.input-custom {
  background-color: #2f2f2f; /* Cor grafite */
  color: #fff;              /* Texto branco para contraste */
  border: 1px solid #555;   /* Bordas suavizadas */
}

.input-custom::placeholder {
  color: #b3b3b3;           /* Cor do placeholder */
}

.input-custom:focus {
  outline: none;
  border-color: #777;       /* Cor da borda ao focar */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.2); /* Leve destaque */
}
