header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    background:rgb(36, 36, 36);
    width: 100vw;  
    height: 10%;
    color: rgb(231, 231, 231);
}

.button {
    text-decoration:  none;
    color: rgb(231, 231, 231);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    background: rgb(44, 44, 44);
    padding: 1rem;
}

.button:hover {
    background: rgb(71, 71, 71);
}

.logo {
    width: 150px;
}

html {
    scroll-behavior: smooth;
}

/* Estilizando a barra de scroll para Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 14px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: #888888; /* Cor da parte que pode ser arrastada */
    border-radius: 10px; /* Arredondar as bordas */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor ao passar o mouse */
}

::-webkit-scrollbar-track {
    background: #743188; /* Cor do fundo da barra de rolagem */
}
