/* Reset de margin e padding para garantir o layout completo */
header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Estilos para o nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; /* Ajustado para ser mais responsivo */
    background: rgb(36, 36, 36);
    width: 100%;
    height: 80px; /* Ajustado para uma altura mais adequada */
    color: rgb(231, 231, 231);
}

/* Estilos para a lista de links */
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

/* Estilos para os itens da lista */
nav ul li {
    list-style: none;
    padding: 0 1rem; /* Ajustado para um espaçamento mais balanceado */
}

/* Estilos para os links */
ul a {
    text-decoration: none;
    color: rgb(231, 231, 231);
    padding: 0.5rem 1rem; /* Adicionando padding para os links */
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    background: rgb(44, 44, 44);
}

/* Estilo de hover nos links */
ul a:hover {
    background: rgb(71, 71, 71);
}

/* Estilos para a imagem do logo */
.logo {
    max-width: 150px; /* Limita o tamanho máximo da imagem */
    width: 100%; /* Faz a imagem ser responsiva */
    height: auto;
}

/* Ajuste para a altura do cabeçalho em telas menores */
@media (max-width: 768px) {
    nav {
        padding: 1rem; /* Reduzindo o padding em telas menores */
    }
    
    nav ul {
        display: block; /* Alinhamento vertical dos links em telas pequenas */
        text-align: center;
    }
    
    nav ul li {
        padding: 0.5rem 0; /* Ajusta o padding para links em colunas */
    }
    
    .logo {
        max-width: 120px; /* Reduzindo o tamanho do logo em telas menores */
    }
}

html {
    scroll-behavior: smooth;
}

/* Estilizando a barra de scroll para Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 14px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background-color: #888888; /* Cor da parte que pode ser arrastada */
    border-radius: 10px; /* Arredondar as bordas */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor ao passar o mouse */
}

::-webkit-scrollbar-track {
    background: #743188; /* Cor do fundo da barra de rolagem */
}
