* {
  overflow-y: hidden;
}

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.panel {
  width: 38%;
  line-height: 3.5rem;
}

.panel img {
  border-radius: 15px;
  aspect-ratio: 1/1;
  height: 500px;
  box-shadow: 1px 1px 10px 2px rgb(236, 142, 255);
}

span.title_style {
  border-bottom: 3px solid blueviolet;
}

.button {
  text-decoration: none;
  color: aliceblue;
  background: blueviolet;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out; 
}

.button:hover {
  background: darkviolet;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}